
.Summary {
	@extend .container-fluid;

	display: flex;
}

.Summary-currencies {
	max-width: 300px;

	flex: 0 0 auto;

	.card {
		margin-bottom: 15px;
		background-color: $gray-lighter;
		color: $text-color;

		.card-body {
			padding-top: 5px;
		}
		&:hover {
			background-color: $gray-light;
		}
	}

	h5 { 
		margin-top: 0;
		text-align: center;
		font-weight: 700;
	}

	img {
		width: 100%;
		max-width: 32px;
		margin: 0 auto;
		margin: 10px auto 5px;
	}
}

.Summary-balances {
	margin-right: 15px;

	flex: 1 1 auto;
	
	.panel-body { border-top: none !important; }
}

.Summary-totals {
    font-size: 1.5em;

	.superTotal {
		padding: 0;
	}

	.card {
		border-right: none;
		border-top: none;
		background-color: $gray-lighter;
	    margin-top: -2px;
	    border-radius: 0;
	    border-left-style: dashed;
	}
}

.Summary-balanceTable {
	table { text-align: right; }

	th { text-align: right; }

	td.name {
		background-color: $gray-lighter;
		text-align: left;
		border-bottom-style: solid !important;
	}

	td.value {
		text-align: right;
	}

	.total {
		border-bottom: 1px solid $gray-light !important;
		border-top: 4px double $gray-light;
	}
}

.Summary-balanceTitle {
	padding-bottom: 0;

	img {
		max-width: 36px;
    	vertical-align: bottom;
    	margin-right: 15px;
	}
}

.Summary-currencyPercentRow {
	border-top: 1px solid $gray-light;
	white-space: nowrap;

	display: flex;
}

.Summary-currencyPercentCol {
	width: 33%;
	text-align: center;
	padding: 5px 5px 0;

	flex: 1 1 auto;
}

.Summary-currencyArrow {
	@extend .fa;
	@extend .fa-arrow-up;

	color: #0ca202;

	.minus & {
		color: red;
	}
	.minus &:before {
    	content: "\f063";
	}
}

