
.Summary {
	@extend .container-fluid;
}

.Summary-myTotals {
    font-size: 1.5em;

	.superTotal {
		padding: 0;
	}

	.card {
		white-space: nowrap;
		border-right: none;
		border-top: none;
		background-color: $gray-lighter;
	    margin-top: -2px;
	    border-radius: 0;
	    border-left-style: dashed;
	}

	p {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.Summary-balanceTable {
	th { text-align: right; }

	td.name {
		background-color: $gray-lighter;
		text-align: left;
		border-bottom-style: solid !important;
	}

	td.value {
		text-align: right;
	}

	.total {
		border-bottom: 1px solid $gray-light !important;
		border-top: 4px double $gray-light;
	}
}

.Summary-spacer {
	border-left-style: dashed !important;
}

.Summary-currencyTitle {
	padding-bottom: 0;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 24px;
	color: $text-color;

	img {
		max-width: 36px;
    	vertical-align: text-bottom;
	}
}

.Summary-currency {
	white-space: nowrap;
	margin-bottom: 10px;
	border-right-width: 0 !important;
	border-top-width: 0 !important;

	a {
		margin-top: 20px;
		display: block;
		padding: 5px;

		&:hover {
			background-color: #fafafa;
		}
	}
}

.Summary-currencyPercents {
	text-align: right;
	margin-top: 5px;
	color: $text-color;

	display: flex;
}

.Summary-currencyPercentValue {
	padding: 5px 5px 0;
}

.Summary-currencyValue {
	white-space: nowrap;
	height: 35px;
	background-color: #F8F5F0;
    font-size: 0.8em;
    vertical-align: middle !important;

	sub { color: gray; }
}

.Summary-currencyArrow {
	@extend .fa;
	@extend .fa-arrow-up;

	color: #0ca202;

	.minus & {
		color: red;
	}
	.minus &:before {
    	content: "\f063";
	}
}

